.folder-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    /* margin-bottom: 6px; */
    padding: 5px; /* Add padding for better spacing */
  }
  
  .folder-item:hover {
    background-color: #424242;
  }
  
  .folder-item-container {
    margin-left: 20px;
    color: white; /* Ensure text color is visible */
  }
  
  .folder-item-container-black {
    margin-left: 20px;
    background-color: black;
    
  }
